
@import '../utilities/variables';
@import '../utilities/mixins';

/* ============================================= */
/*              Images                           */
/* ============================================= */

[class*='img-'] {
    @include cntr-block;
}

.img-avatar {
    max-height: 100%;
    @include img-ctrl;
}

.img-frame {
    padding: 13px;
    border: 1px solid $gray;
    @include img-ctrl;
}