
@import '../utilities/variables';

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $med) {

    .container {
      max-width: 1400px;
      @include cntr-block;
    }
    
    .centered {
      @include cntr-block;
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      & + [class^=col] {
        margin-left: 10px;
      }
    }
    
    @for $i from 1 through 12 {
      .col-#{$i} {
        flex-basis: (100% / 12) * $i;
      }
    }
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      &-link {
        flex-basis: 100px;
      }
    }
    
    .btn {
      padding: 10px 30px;
      & + .btn {
        margin-left: 10px;
      }
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
}